<header class="sidebar-header">
   
    
</header>


<ul class="nav sidebar-menu">
 
    <li class="active">
        <a routerLink='/Dashboard'>
        <span class="sidebar-title">Dashboard</span>
        <span class="sb-menu-icon fa fa-home"></span>
        </a>
        </li>
 
 <li>
  <a class="accordion-toggle">
   <span class="sidebar-title">Products</span>
   <span class="caret"></span>
   <span class="sb-menu-icon fa fa-list-ul"></span>
  </a>
  <ul class="nav sub-nav">
   <li routerLink='/product/allprod'>
    <a >
     Products liste
    </a>
   </li>
 
   <li  routerLink='/product/detail'>
    <a>
        Product Détails

    </a>
   </li>
  
  
 
  </ul>
 </li>
 
 
 
 
 

 
 
</ul>
